@import "tailwindcss";
@import "@fontsource/outfit";
@import "@fontsource/cardo";
@import "@fontsource/open-sans";
@import "@fontsource/palanquin-dark";

@theme {
  --font-screen: 'Open Sans', sans-serif;
  --font-article: 'Cardo', serif;
  --font-title: 'Palanquin Dark', sans-serif;
  --font-body: var(--font-screen);
}

