@import "tailwindcss";
@import "@fontsource/open-sans";
@import "@fontsource/palanquin-dark";
@import "@fontsource/libre-baskerville";

@theme {
  --font-screen: 'Open Sans', sans-serif;
  --font-article: 'Libre Baskerville', serif;
  --font-title: 'Palanquin Dark', sans-serif;
  --font-body: var(--font-screen);
}

@custom-variant dark (&:where(.dark, .dark *));
