---
import { getCollection } from 'astro:content';

import Header from '../../components/Header.astro';
import LatestPost from '../../components/LatestPost.astro';
import PostGrid from '../../components/PostGrid.astro';
import FeaturedPost from '../../components/FeaturedPost.astro';
import Footer from '../../components/Footer.astro';
import { DefaultSettings } from '../../settings';

import '../../styles/global.css';

const collection = await getCollection('posts');
const posts = collection.filter((post) => post.data.locale === 'en')
  .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />

    <title>{DefaultSettings.en.title}</title>
    <meta name="description" content={DefaultSettings.en.description} />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>
      (() => {
        const darkMode = localStorage.getItem('dark-mode');
        if (darkMode === 'true') {
          document.documentElement.classList.add('dark');
        }
      })();
    </script>

  </head>
  <body class="font-screen dark:bg-slate-900 transition-colors duration-200 ease-in-out">
    <Header language="en" />
    <main class="container mt-16 mx-auto px-4 py-2">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <LatestPost post={posts[0]} />
        <div class="flex flex-col items justify-between mt-4 md:mt-0">
          {
            posts.filter(post => post.data.featured).slice(0, 3)
              .map((post) => <FeaturedPost post={post} />)
          }
        </div>
      </div>
      <PostGrid language="en" />
    </main>
    <Footer language="en"/>
  </body>
</html>

