---
import { Picture } from "astro:assets"
import poster from "../../public/images/squared.jpg"
---

<a href="/" class="group flex mb-4 md:mb-0 border-b-[1px] md:px-2 border-gray-200 pb-4 md:pb-2 last:pb-0 last:border-0">
  <div class="w-26 h-26 shrink-0 mr-4 aspect-square overflow-hidden rounded-sm">
    <Picture src={poster} alt="Post poster" 
                          widths={[720, 360, poster.width]}
                          class="group-hover:scale-125 pointer-events-none group-focus-within:scale-125 group-focus-within:blur-xs transition-transform ease-in-out duration-300"
                          formats={['avif','webp']} />
  </div>
  <div class="h-full overflow-hidden">
    <span class="text-xs text-slate-600 bg-slate-100 inline-block px-2 py-1 rounded-sm border-[1px] border-slate-400 shadow-sm">Category</span>
    <div class="line-clamp-3">
      <h2 class="font-title md:text-lg mt-1 md:mt-0 leading-4 md:leading-6 overflow-hidden font-bold text-slate-700 height-14 group-focus-within:underline group-hover:underline">
        Lorem ipsum dot sit amet consectetur, adipisicing elit. And some more text. Another long sentence.
      </h2>
    </div>
    <p class="italic text-xs mt-2 md:mt-1 text-slate-500">January 17, 2025</p>
  </div>
</a>
