---
import SimplePostItem from './SimplePostItem.astro'
---

<div class="grid grid-cols-1 md:mt-8 gap-4">
  <SimplePostItem />
  <SimplePostItem />
  <SimplePostItem />
  <SimplePostItem />
  <SimplePostItem />
  <SimplePostItem />
  <SimplePostItem />
  <SimplePostItem />
</div>
