---
import CategoryTag from "./CategoryTag.astro"
---

<div class="border-b-[1px] border-gray-200 dark:border-slate-700 pt-1 pb-5 last:border-0">
  <CategoryTag name="Go" slug="go"/>
  <h2 class="font-title text-lg font-bold leading-5 mb-1 text-slate-700 dark:text-slate-300">
    <a href="" class="ring-0 outline-0 hover:underline focus-within:underline">Lorem ipsum dot sit amet consectetur, adipisicing elit. And some more text. Another long sentence.</a>
  </h2>
  <span class="text-xs text-slate-500 dark:text-slate-600">January 17, 2025</span>
</div>
