---

---

<a href="/" class="group flex flex-col border-b-[1px] border-gray-200 pt-1 pb-5 last:border-0">
  <h2 class="font-title text-lg font-bold leading-5 mb-1 text-slate-700">Lorem ipsum dot sit amet consectur, adipisicing elit</h2>
  <span class="text-xs text-slate-500">January 17, 2025</span>

  <p class="mt-1 italic text-slate-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quod.</p>
</a>
